@use '../../../../styles/variables.scss' as vars;

.container-max {
    padding: 2rem;
    margin-top: 5rem;
    min-height: 90vh;
}

.icon {
    font-size: 6vh;
    width: 6vh;
    height: 6vh;
    color: vars.$principal-color;
    margin-right: 1vh !important;
}

.box-ped {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2rem !important;

    span {
        font-size: 2.5rem;
        margin-left: 10px;
        color: vars.$principal-color !important;
    }
}

.card {
    margin-bottom: 1rem;
    border: 1px solid vars.$text-color2;
    border-radius: 10px;
    padding: 1rem;
}

.flex-row {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.box-detail {
    width: 100%;
}